<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/EditarPostagems/<%= id %>?_method=PATCH"  method="post">
        <textarea name="titulo"></textarea>
        <textarea name="conteudo"></textarea>
        <button type="submit">ENVIAR</button>
    </form>
</body>
</html>