<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum - CATUW</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="Javascript/script.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="tema.js"></script>
    <script src="https://kit.fontawesome.com/e46e77fe01.js" crossorigin="anonymous"></script>
    <script src="forumecia.js"></script>
</head>

<body>
    <header>
        <!--NavBar Section-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid" style="background-color: #a42f4a">
            <a class="navbar-brand" href="\config" style="background-color: #a42f4a">
                <img
                src="https://cf-vectorizer-live.s3.amazonaws.com/vectorized/2mUTdPxw8hzCmJ2HgtWlazpgLdx/2mUThkKfwC9xqSzlhaJ8mCCga5S.svg"
                alt="Logo"
                width="30"
                height="24"
                class="d-inline-block align-text-top"
                />
                CATUW</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
                style="background-color: #a42f4a">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/hist">Histórias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/detail">Detalhes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Posts</a>
                </li>
                <li class="nav-item"></li>
                    <a class="nav-link" href="/forum">Fórum</a>
                </li>
                <li class="nav-item"></li>
                    <a class="nav-link" href="http://127.0.0.1:5500/FORUM/forums.html">Sobre nós</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>

<!-- Botão de criar post -->
<div class="fixed-bottom">
    <button type="button" class="btn btn-primary btn-lg" style="background-color: #5ceecc;" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Criar uma postagem</button>
</div>

<!-- Modal de criação de post -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #a42f4a">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: #5ceecc" id="exampleModalLabel">Novo post</h1>
                <form action="/postagem" method="get">
                    <button type="submit" style="color: #5ceecc" class="btn-close" data-bs-dismiss="modal" aria-label="Close">POstar</button>
                </form>
            </div>
            <div class="modal-body">
                <form action="/forum" method="post">
                    <!-- Contêiner para a imagem anexada -->
                    <div class="text-center mb-3" id="image-container" style="display: none; position: relative;">
                        <img id="post-image" class="img-thumbnail" alt="Imagem do post" width="200" height="200">
                        <button type="button" id="remove-image" class="btn-remove">&times;</button>
                    </div>

                    <!-- Campo para título -->
                    <div class="mb-3">
                        <label for="recipient-name" style="color: #5ceecc" class="col-form-label">Título:</label>
                        <input type="text" style="background-color: #b2f3e4" class="form-control" id="recipient-name">
                    </div>

                    <!-- Campo para descrição -->
                    <div class="mb-3">
                        <label for="message-text" style="color: #5ceecc" class="col-form-label">Descrição:</label>
                        <textarea class="form-control" style="background-color: #b2f3e4" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex gap-2 mb-3">
                    <button type="button" style="background-color: #5ceecc" class="btn btn-primary">
                        <label for="image-upload" class="m-0" style="cursor: pointer;">
                            Anexar Imagem
                        </label>
                        <input type="file" id="image-upload" accept="image/*" style="display: none;">
                    </button>
                    <button type="button" style="background-color: #a37d8a;" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" style="background-color: #5ceecc;" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Postar
                    </button>
                    <ul class="dropdown-menu">
                      <li><button type="submit"><a class="dropdown-item" href="#">Fórum</a></button></li>
                      <li><button type="submit"><a class="dropdown-item" href="#">Histórias</a></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
  
  
<!--SearchBox Section-->

        <div class="search-box">
            <div>
                <select name="" id="">
                    <option value="Everything">Tudo</option>
                    <option value="Titles">Título</option>
                    <option value="Descriptions">Descrição</option>
                </select>
                <input type="text" name="q" placeholder="Pesquisar ...">
                <button><i class="fa fa-search"></i></button>
            </div>
        </div>
    </header>
    <div class="container">
        
        <!--More-->
        
        <div class="subforum">
            <div class="subforum-title">
                <h1>Informações</h1>
            </div>
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa-solid fa-cat"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h4><a href="#">Saúde</a></h4>
                    <p>Tópico reservado para os assuntos sobre a saúde animal.</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>5 Posts</span>
                </div>
            </div>
            <hr class="subforum-devider">
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa-solid fa-cat"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h4><a href="#">Alimentação</a></h4>
                    <p>Tópico reservado para a alimentação saudável do seu pet!</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>1 Post</span>
                </div>
            </div>
            <hr class="subforum-devider">
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa-solid fa-cat"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h4><a href="#">Medicações</a></h4>
                    <p>Tópico reservado para a discussão de medicações eficazes e não recomendadas.</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>1 Post</span>
                </div>
            </div>
            <hr class="subforum-devider">
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa-solid fa-cat"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h4><a href="#">Diversão</a></h4>
                    <p>Tópico reservado para as brincadeiras dos seus animaizinhos!</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>2 Posts</span>
                </div>
            </div>
            <hr class="subforum-devider">
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa-solid fa-cat"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h4><a href="#">Outros</a></h4>
                    <p>Tópico separado para dúvidas e recomendações diversas.</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>1 Post</span>
                </div>
            </div>
        </div>
    </div>
        <!---->
    </div>

    <!-- Forum Info -->
    <div class="forum-info">
        <div class="chart">
            CATUW - Status &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <span><u>6</u> posts em <u>4</u> tópicos de <u>4</u> membros no total.</span><br>
        <span><a href="">Veja os posts mais recentes</a></span><br>
    </div>

    <footer>
        <span>&copy;  CATUW | Todos os Direitos Reservados</span>
    </footer>
    <script src="main.js"></script>
</body>
</html>