
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="login.css" rel="stylesheet" />
        <script src="tema.js"></script>
        <title>Tela de Login</title>
    </head>


    <body>
        <div class="container">
            <img src="Catuw.gif" alt="Imagem Centralizada">
        </div>
        <div class="login">
            <h1>Login</h1>
            <form action="/login" method="post">
                <label>Usuário</label>
                <input type="text" name="username" id="name">
                <br><br>
                <label>Senha</label>
                <input type="password" name="password" id="pass">
                <br><br>
                <button type="submit">Enviar</button>
            </form>
            <br/>
            <div class="texto"> <a href="/cadastro">Esqueceu a senha?</a> </div>   
        </div>       
    </body>
</html>




